body {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0;
    margin: 0;
    font-family: Verdana, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10%;
}

.header-con-left {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 45%;
}

.header-con-right {
    background-color: darkgrey;
    width: 45%;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    margin-left: 10%;
    margin-right: 10%
}

.header-link {
    margin: 8px;
}

.header-logo {
    margin: 8px;
}

.info-grid {
    display: flex;
    flex-direction: column;
}

.info-block {
    text-align: center;
    background-color: white;
    min-width: 100vw;
    
}

.info-title {
    padding: 2%;
    font-size: 36px;
    font-weight: 800;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    align-items: center;
    list-style: none;
}

.text-list, .pics-list {
    display: flex;
}

li {
    width: 13%;
}

.quote-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3%;
}

.quote-text {
    width: 50vw;
    text-align: center;
    margin: 10px;
}

.white-text {
    color: rgb(255, 255, 255);
}

.bold-text {
    font-weight: bold;
}


