body {
    display: flex;
    flex-direction: column;
    background-color: rgb(77, 77, 151);
}

.header {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.header-link {
    margin: 8px;
}

.header-logo {
    margin: 8px;
}

.info-grid {
    display: flex;
    flex-direction: column;
}

.info-block {
    text-align: center;
    background-color: white;
    min-width: 100vw;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.quote-block {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quote-text {
    width: 50vw;
    text-align: center;
    margin: 10px;
}

.white-text {
    color: rgb(255, 255, 255);
}

.bold-text {
    font-weight: bold;
}


